<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ page.title }} | Joshua Milford | Web Developer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/screen.css">
        <link href="/blog/feed.xml" type="application/rss+xml" rel="alternate" title="Latest 10 blog posts" />
    </head>
    <body>
    
    <div class="container">
      <div class="content">
        <h1><a href="/" class="home-link">Joshua Milford <small>Web Developer</small></a></h1>
        {{ content }}
        <div class="contact">
        <p>Please feel free to <a href="mailto:joshua@joshuamilford.com">email me</a>, <a href="http://twitter.com/joshuamilford">follow me on twitter</a>, <a href="/blog">read my blog</a>, or <a href="https://www.linkedin.com/in/joshua-milford-3427b6b9">connect on LinkedIn</a>.</p>
        </div>
      </div>
    </div>
</body>
</html>